<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta
    name="viewport"
    content="width=device-width, initial-scale=1, shrink-to-fit=no"
  />

  <title>{{ if not .IsHome }}{{ .Title }} - {{ end }}{{ site.Title }}</title>

  <meta http-equiv="content-language" content="{{ .Site.Language.Lang }}" />

  {{ if gt (len .Site.Languages) 1 }} {{ range .Site.Languages }} {{ if eq .
  $.Site.Language }} {{ else }} {{ range $.Translations }}
  <link
    rel="alternate"
    hreflang="{{ .Language.Lang }}"
    href="{{ .Permalink }}"
  />
  {{ end }} {{ end }} {{end}} {{ end }}

  <!-- Meta -->
  {{ if eq .Kind "page" }}
  <meta name="description" property="og:description" content="{{ .Summary }}" />
  <meta
    name="author"
    content="{{ .Params.Author | default site.Params.author.name }}"
  />
  <meta name="title" property="og:title" content="{{ .Title }}" />
  <meta name="publish_date" property="og:publish_date" content="{{ .Date }}" />
  <meta property="og:image" content="{{ if .Params.thumbnail -}}{{
  .Params.thumbnail|absURL }}{{ else if hasPrefix .File.Path "post" -}}{{
  path.Join "tcard" (print .File.BaseFileName ".png") | absURL }}{{ else -}}{{
  "img/default.png" | absURL }}{{ end -}}" />
  <meta name="twitter:card" content="summary_large_image" />
  {{ else }}
  <meta name="description" content="{{ site.Params.description }}" />
  <meta name="author" content="{{ site.Params.author.name }}" />
  {{ end }}

  <link rel="stylesheet" href="/my_styles.css" />

  <link href="https://unpkg.com/@master/normal.css" rel="stylesheet" />
  <script src="https://unpkg.com/@master/style@1.5.0"></script>
  <script src="https://unpkg.com/@master/styles@1.13.0"></script>
  <script src="https://unpkg.com/master-styles-group"></script>
  <script>
    window.themes = window.themes || new window.Themes();
  </script>

  <style>
    :root {
      --font-sans: "Inter var", ui-sans-serif, system-ui, -apple-system,
        BlinkMacSystemFont, Segoe UI, Roboto, Helvetica Neue, Arial, Noto Sans,
        sans-serif, Apple Color Emoji, Segoe UI Emoji, Segoe UI Symbol,
        Noto Color Emoji;
      color-scheme: dark;
    }
    @media (prefers-color-scheme: light) {
      :root {
        color-scheme: dark;
      }
    }
  </style>

  <script
    defer
    src="https://kit.fontawesome.com/5e45e9ee29.js"
    crossorigin="anonymous"
  ></script>

  <!-- Google tag (gtag.js) -->
  <script
    async
    src="https://www.googletagmanager.com/gtag/js?id=G-MWBDTV4MMM"
  ></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() {
      dataLayer.push(arguments);
    }
    gtag("js", new Date());

    gtag("config", "G-MWBDTV4MMM");
  </script>

  {{- partial "head-extra.html" . -}}
</head>
