{{ .Scratch.Set "es" "🇲🇽" }}
{{ .Scratch.Set "en" "🇺🇸" }}

<nav class="w:full h:90 fixed bg:fade-84/.95@dark bg:white z:1000">
    <div class="
        h:full
        w:full
        max-w:1200
        mx:auto
        px:32
        d:flex
        align-items:center
    ">
        <div>
            <a href="{{ "/" | relLangURL }}" class="mr-3 font:extralight">
              {{ if not .Site.Params.HeaderTitle }}
              {{ .Site.Title }}
              {{ else }}
              {{ .Site.Params.HeaderTitle }}
              {{ end }}
            </a>
        </div>

        <div class="ml:auto">
            {{ $currentPage := . }}
            {{ $active := "" }}
            {{ range .Site.Menus.main }}
            {{ if or ($currentPage.IsMenuCurrent "main" .) ($currentPage.HasMenuCurrent "main" .) }}
            {{ $active = "active" }}
            {{ end }}
            <a class="
                font:semibold
                font:fade
                font:fade-10:hover
                font:fade-30.active
                px:4
                transition:150ms;ease-in
                {{ $active }}
            " href="{{ .URL | relLangURL}}" title="{{ .Title }}">
                {{- .Name -}}
            </a>
            {{ end }}
                            
            {{ if .Site.IsMultiLingual }}
                <div class="dropdown padding-left:8">
                    <button class="
                        dropbtn
                        font:semibold
                        font:fade
                        font:fade-10:hover
                        font:fade-30.active
                        transition:150ms;ease-in
                    ">
                    {{ $.Scratch.Get .Site.Language.Lang }}&nbsp;{{ strings.FirstUpper .Site.Language.LanguageName }}</button>
                    <div class="dropdown-content">
                        {{ range .Site.Languages }}
                            {{ if eq . $.Site.Language }}    
                            <a href="#" class="
                                font:semibold
                                font:fade
                                font:fade-10:hover
                                font:fade-30.active
                                transition:150ms;ease-in
                            ">
                            {{ $.Scratch.Get .Lang }}&nbsp;{{ strings.FirstUpper .LanguageName }}</a>
                            {{ else }}
                                {{ range $.Translations }}
                                <a href="{{ .Permalink }}" class="
                                    font:semibold
                                    font:fade
                                    font:fade-10:hover
                                    font:fade-30.active
                                    transition:150ms;ease-in
                                ">
                                {{ $.Scratch.Get .Site.Language.Lang }}&nbsp;{{ strings.FirstUpper .Site.Language.LanguageName }}</a>
                                {{ end }}
                            {{ end }}
                        {{ end }}
                    </div>
                </div> 
            {{ end }}
        </div>
    </div>
</nav>
